@import url('./css/base/reset.css');
@import url('./css/base/custom.css');

:root {
  --blue: #3485ff;
  --red: #ff4c38;
  --vil-margin: 10px;
  --container-width: 1200px;
  --container-height: 1200px;
}

#title {
  font-size: 30px;
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
}

#main {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/* interaction */
.check-btn {
  width: 100%;
  height: 50px;
  border: 1px solid var(--red);
  border-radius: 10px;
  background-color: var(--red);
  color: white;
  font-size: 20px;
}

.interaction {
  max-width: 300px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.interaction-result {
  margin-top: 40px;
  font-size: 20px;
}

.interaction-result__row {
  width: 100%;
  margin-bottom: 30px;
}

/* map */
.container {
  width: calc(var(--vil-margin) * 2 + var(--container-width));
  height: calc(var(--vil-margin) * 2 + var(--container-height));
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.section {
  /* border: 1px solid black; */
  width: 50%;
  height: 50%;
  position: relative;
}

/* vil, position */

.vil {
  display: inline-flex;
  flex-wrap: wrap;
  border: 3px solid var(--blue);
  border-radius: 10px;
  position: relative;
  flex: 1 1 auto;
  width: 20%;
  margin: var(--vil-margin);
  position: relative;
}

.vil-name {
  position: absolute;
  top: -20px;
}

.vil-inner {
  flex: 1 1 auto;
  width: 20%;
  margin: 10px;
  position: relative;
}
