.container {
  width: 1000px;
  border: 5px solid #000;
  text-align: center;
}
.map-element {
  display: flex;
}
.village-info {
  width: 800px;
  border: 5px solid #00f;
  margin: 20px 0px 50px 35px;
}
.village {
  border: 5px solid #0f0;
  display: inline-block;
  margin: 5px;
}
.red-button-info {
  margin: 25px 0px 0px 15px;
  width: 150px;
}
.red-button {
  background-color: #f00;
  border: 2px solid #f00;
  cursor: pointer;
}
.village-total,
.postbox-size {
  margin-top: 30px;
}
