@import url('./css/base/reset.css');
@import url('./css/base/custom.css');

#title {
  padding: 20px;
  font-size: 30px;
}

#title,
#main {
  width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/* interaction */
.check-btn {
  width: 100%;
  height: 50px;
  border: 1px solid red;
  border-radius: 10px;
  background-color: red;
  color: white;
  font-size: 20px;
}

.interaction {
  margin-left: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.interaction-result {
  margin-top: 40px;
  font-size: 20px;
}

.interaction-result__row {
  margin-bottom: 30px;
}

/* map */
.container {
  width: 1200px;
  height: 600px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

.section {
  /* border: 1px solid black; */
  width: 50%;
  height: 50%;
  position: relative;
}

/* vil, position */

.vil {
  display: flex;
  flex-wrap: wrap;
}

.vil-name {
  position: absolute;
  top: -20px;
}

.vil-inner {
  flex: 1 1 auto;
  width: 20%;
  margin: 10px;
  position: relative;
}

.vil-tl,
.vil-tr,
.vil-bl,
.vil-br {
  position: absolute;
}

.vil-tl {
  top: 100px;
  left: 10px;
  width: 100px;
  height: 100px;
}

.vil-tr {
  width: 100px;
  height: 100px;
  top: 20px;
  left: 50px;
}

.vil-bl {
  width: 100px;
  height: 100px;
  top: 0px;
  left: 70px;
}

.vil-br {
  width: 100px;
  height: 100px;
  top: 50px;
  left: 90px;
}

/* postbox border */

.without-postbox {
  border: 2px solid blue;
  border-radius: 10px;
}

.with-postbox {
  border: 2px solid red;
  border-radius: 10px;
}
