@import url('./reset.css');

body {
  box-sizing: border-box;
  font-size: 20px;
  padding: 100px;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 50px;
  width:500px;
  padding-left: 200px;
}

.flex {
  display: flex;
  min-width: 1200px;
  max-width: 1200px;
  
}

.map {
  position: relative;
  border: 1px solid #000;
  height: 800px;
  width:1200px;
}

.town {
  position: absolute;
  padding: 2px;
  box-sizing: border-box;
  border: 3px solid #1d3a91;
  border-radius: 10px;
}

.checkContent {
  width:300px;
  height: 100%;
  margin-left: 100px;
  font-weight: 700;
  font-size:18px;
}
.numberOfTown {
  margin-top: 50px;
  font-weight: 600;
  font-size:23px;
  line-height: 1.5;
}

.sizeOfPostBox {
  margin-top: 50px;
  font-weight: 600;
  font-size:23px;
  line-height: 1.5;
}
.checkBtn {
  border: 0px;
  background-color: rgba(255, 0, 0, 0.767);
  padding: 17px;
  color:white;
  font-size: 24px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
}