@import url('./reset.css');

.flex {
  display: flex;
  min-width: 1200px;
  max-width: 1200px;
}

.map {
  border: 1px solid #000;
  width: 1200px;
  height: 800px;
}

.town {
  border: 2px solid blue;
}
